* {
    margin: 0;
    padding: 0;
  }

  @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes shake-horizontal {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      transform: translateX(-8px);
    }
    20%,
    40%,
    60% {
      transform: translateX(8px);
    }
    80% {
      transform: translateX(6px);
    }
    90% {
      transform: translateX(-6px);
    }
  }

  @keyframes wobble-hor-bottom {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateX(-15px) rotate(-6deg);
    }
    30% {
      transform: translateX(7px) rotate(6deg);
    }
    45% {
      transform: translateX(-7px) rotate(-3.6deg);
    }
    60% {
      transform: translateX(5px) rotate(2.4deg);
    }
    75% {
      transform: translateX(-3px) rotate(-1.2deg);
    }
  }

  @keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  
  
  
  
  img {
    max-width: 100%;
  }
  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .top {
    min-height: 735px;
    background-image: url(img/top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
  
  header {
    min-height: 76px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
    
  }
  .logo{
    &:hover {animation: shake-horizontal 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;}
  }
  
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
  
  .top_input {
    height: 41px;
    width: 288px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    padding-left: 32px;
    padding-right: 32px;
  }
  
  .top_input::-webkit-input-placeholder {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  
  .top_input:-ms-input-placeholder {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  
  .top_input::-ms-input-placeholder {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  
  .top_input::placeholder {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  
  .head_link {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    &:hover {animation: jello-horizontal 0.9s both;}
  }
  
  
  .hs1 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 64px;
    color: #FFFFFF;
    margin-bottom: 16px;
    margin-top: 64px;
    max-width: 792px;
  }
  
  .ps1 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 16px;
  }
  
  .linkcatalog {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    &:hover {animation: shake-horizontal 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;}
  }
  
  .heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 32px;
  }
  
  .for {
    padding-top: 64px;
  }
  
  .for_grid {
    display: -ms-grid;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .for_item {
    grid-column: span 4;
    height: 415px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFFFFF;
    overflow: hidden;
  }
  
  .for_item_big {
    grid-column: span 6;
  }
  
  .for_item_1 {
    background-image: url(img/for1.jpg);
  }
  
  .for_item_2 {
    background-image: url(img/for2.jpg);
  }
  
  .for_item_3 {
    background-image: url(img/for3.jpg);
  }
  
  .for_item_4 {
    background-image: url(img/for4.jpg);
  }
  
  .for_item_5 {
    background-image: url(img/for5.jpg);
  }
  
  .product-box {
    margin-top: 64px;
  }
  
  .product-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 48px;
  }
  
  .product {
    width: 378px;
  }
  
  .product_heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 8px;
  }
  
  .product_text {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;
  }
  
  .price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
  }
  
  .allprice {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    color: #888888;
    margin-left: 32px;
  }
  .linkcatalogend {

    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 31px;
    &:hover {animation: shake-horizontal 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;}
  }
  
  footer {
    min-height: 207px;
    background: #F7F6F6;
    margin-top: 64px;
  }
  
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 32px;
  }
  
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }
  
  .linkfoot_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-top: 4px;
    gap: 20px;
  }
  
  .logo_foot {
    width: 198px;
    height: 44px;
  }
  
  .footikon {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
  
  .svgfoot{
    display: block;
    &:hover {animation: heartbeat 1.5s ease-in-out infinite both;}
  }

  .footlink {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
    &:hover {animation: wobble-hor-bottom 1s both;}
  }
    
  .footnews {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 3px;
  }
  
  .putemail {
    font-family: 'Roboto', sans-serif;
    height: 46px;
    width: 275px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 25px;
  }
  
  .buttonsub {
    font-family: 'Roboto', sans-serif;
    height: 46px;
    width: 275px;
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    &:active {animation: blink-1 0.6s both;}
  }
// каталог

@import 'catalog';
 
/* начало КОРЗИНЫ */
@import "cart";

@media (min-width:1024px) and (max-width: 1239px){
  .center{
    padding-left: calc(50% - 500px);
   padding-right: calc(50% - 500px);
  }
  .product-content{
    justify-content: flex-start;
    gap: 32px;
  }
}

// планшет
@import 'tablet';

// мобила
@import "mobile";

